TASKD_ORGNAME={{ td__orgname }}
TASKD_USERNAME={{ td__username }}
TASKD_CERT_BITS={{ td__cert_bits }}
TASKD_CERT_EXPIRATION_DAYS={{ td__cert_expiration_days }}
TASKD_CERT_ORGANIZATION={{ td__cert_organization }}
TASKD_CERT_COUNTRY={{ td__cert_country }}
TASKD_CERT_STATE={{ td__cert_state }}
TASKD_CERT_LOCALITY={{ td__cert_locality }}
